.tagify-wrapper {
    .tagify-button-group {
        .tagify-button {
            font-size: 14px;
            font-weight: 600;
            line-height: 20px;
            border-style: none;
            background-color: transparent;
            padding: 0;
            position: relative;
            cursor: pointer;
            &.select-all-buton {
                text-decoration: underline;
            }
            &.remove-all-button {
                border-left: 1px solid #D8D9DB;
                padding-left: 13px;
                margin-left: 13px;
            }
        }
    }
}