.repeatable-field-container {
	flex: 1;
	.add-btn {
		background-color: transparent;
		border-style: none;
		padding: 0;
		margin-bottom: 24px;
		text-decoration: underline;
	}
	.accordion-item {
		margin-bottom: 12px;
		.accordion-header {
			display: flex;
			gap: 8px;
			.left-part,
			.right-part  {
				display: flex;
				align-items: center;
				gap: 6px;
			}
			.left-part {
				
			}
			.right-part {}
		}
		.accordion-content {
		}
	}
}
