.accordion-container {
  flex: 1;
  .add-btn {
    background-color: transparent;
    border-style: none;
    padding: 0;
    margin-bottom: 24px;
    text-decoration: underline;
  }
  .accordion-item {
    border: 1px solid #d8d9db;
    border-radius: 5px;
    margin-bottom: 10px;
    overflow: hidden;
    .accordion-header {
      border-bottom: 1px solid #d8d9db;
      padding: 10px;
      cursor: pointer;
      margin-bottom: -1px;
      display: flex;
      justify-content: space-between;
      .left-part,
      .right-part {
        display: flex;
        align-items: center;
        gap: 6px;
      }
      .left-part {
        .eleble {
          border: 1px solid #d8d9db;
          border-radius: 2px;
          width: 20px;
          height: 20px;
          display: block;
          &.checked {
            background-color: var(--store-addons-for-woocommerce-color);
            display: flex;
            justify-content: center;
            align-items: center;
            &::after {
              content: url('data:image/svg+xml,<svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M9.94064 1.6485L3.94211 9.71586L0.178504 6.91742L0.924359 5.91432L3.68487 7.96691L8.93754 0.902641L9.94064 1.6485Z" fill="white"/></svg>');
            }
          }
        }
      }
      .right-part {
      }
    }
    .accordion-content {
      padding: 24px;
      .unit-accordion {
        margin-bottom: 12px;
        label.field-label {
          display: block;
          margin-bottom: 8px;
          color: #000000;
          font-weight: 600;
          line-height: 20px;
          letter-spacing: 1%;
          font-size: 16px;
        }
        .checkbox-group-field {
          display: flex;
          align-items: center;
          gap: 10px;
        }
        select,
        input[type="text"],
        input[type="number"],
        input[type="date"],
        input[type="datetime-local"],
        input[type="email"],
        input[type="time"],
        input[type="tel"],
        input[type="url"],
        textarea {
          width: 100%;
          max-width: unset;
        }
      }
    }
  }
}
