:root {
  --mos-faqs-color: #0073aa;
  --mos-faqs-color-light: #00a0d2;
  --mos-faqs-color-dark: #005177;
  --mos-faqs-color-accent: #f7f7f7;
  --mos-faqs-color-text: #333;
  --mos-faqs-color-text-light: #fff;
}

.offcanvas {
  z-index: 999999 !important;
}

.store-addons-for-woocommerce-settings-template {
  position: relative;
}
.store-addons-for-woocommerce-settings-template #wpcontent {
  padding-left: 0;
}
.store-addons-for-woocommerce-settings-template #wpcontent #wpbody #wpbody-content {
  padding-bottom: 0 !important;
}
.store-addons-for-woocommerce-settings-template #wpcontent #wpbody #wpbody-content .store-addons-for-woocommerce-settings-wrapper {
  font-family: "Inter", sans-serif;
}
.store-addons-for-woocommerce-settings-template #wpcontent #wpbody #wpbody-content .store-addons-for-woocommerce-settings-wrapper .link,
.store-addons-for-woocommerce-settings-template #wpcontent #wpbody #wpbody-content .store-addons-for-woocommerce-settings-wrapper a {
  text-decoration: none;
}
.store-addons-for-woocommerce-settings-template #wpcontent #wpbody #wpbody-content .store-addons-for-woocommerce-settings-wrapper .link:hover,
.store-addons-for-woocommerce-settings-template #wpcontent #wpbody #wpbody-content .store-addons-for-woocommerce-settings-wrapper a:hover {
  color: #135e96;
}
.store-addons-for-woocommerce-settings-template #wpcontent #wpbody #wpbody-content .store-addons-for-woocommerce-settings-wrapper .link {
  cursor: pointer;
  color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));
}
.store-addons-for-woocommerce-settings-template #wpcontent #wpbody #wpbody-content .store-addons-for-woocommerce-settings-wrapper h6,
.store-addons-for-woocommerce-settings-template #wpcontent #wpbody #wpbody-content .store-addons-for-woocommerce-settings-wrapper .h6,
.store-addons-for-woocommerce-settings-template #wpcontent #wpbody #wpbody-content .store-addons-for-woocommerce-settings-wrapper h5,
.store-addons-for-woocommerce-settings-template #wpcontent #wpbody #wpbody-content .store-addons-for-woocommerce-settings-wrapper .h5,
.store-addons-for-woocommerce-settings-template #wpcontent #wpbody #wpbody-content .store-addons-for-woocommerce-settings-wrapper h4,
.store-addons-for-woocommerce-settings-template #wpcontent #wpbody #wpbody-content .store-addons-for-woocommerce-settings-wrapper .h4,
.store-addons-for-woocommerce-settings-template #wpcontent #wpbody #wpbody-content .store-addons-for-woocommerce-settings-wrapper h3,
.store-addons-for-woocommerce-settings-template #wpcontent #wpbody #wpbody-content .store-addons-for-woocommerce-settings-wrapper .h3,
.store-addons-for-woocommerce-settings-template #wpcontent #wpbody #wpbody-content .store-addons-for-woocommerce-settings-wrapper h2,
.store-addons-for-woocommerce-settings-template #wpcontent #wpbody #wpbody-content .store-addons-for-woocommerce-settings-wrapper .h2,
.store-addons-for-woocommerce-settings-template #wpcontent #wpbody #wpbody-content .store-addons-for-woocommerce-settings-wrapper h1,
.store-addons-for-woocommerce-settings-template #wpcontent #wpbody #wpbody-content .store-addons-for-woocommerce-settings-wrapper .h1 {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  line-height: 1.2;
}
.store-addons-for-woocommerce-settings-template #wpcontent #wpbody #wpbody-content .store-addons-for-woocommerce-settings-wrapper h1,
.store-addons-for-woocommerce-settings-template #wpcontent #wpbody #wpbody-content .store-addons-for-woocommerce-settings-wrapper .h1 {
  font-size: 36px;
  line-height: 40px;
}
.store-addons-for-woocommerce-settings-template #wpcontent #wpbody #wpbody-content .store-addons-for-woocommerce-settings-wrapper h2,
.store-addons-for-woocommerce-settings-template #wpcontent #wpbody #wpbody-content .store-addons-for-woocommerce-settings-wrapper .h2 {
  font-size: 30px;
  line-height: 33px;
}
.store-addons-for-woocommerce-settings-template #wpcontent #wpbody #wpbody-content .store-addons-for-woocommerce-settings-wrapper h3,
.store-addons-for-woocommerce-settings-template #wpcontent #wpbody #wpbody-content .store-addons-for-woocommerce-settings-wrapper .h3 {
  font-size: 24px;
  line-height: 26px;
}
.store-addons-for-woocommerce-settings-template #wpcontent #wpbody #wpbody-content .store-addons-for-woocommerce-settings-wrapper h4,
.store-addons-for-woocommerce-settings-template #wpcontent #wpbody #wpbody-content .store-addons-for-woocommerce-settings-wrapper .h4 {
  font-size: 18px;
  line-height: 19px;
}
.store-addons-for-woocommerce-settings-template #wpcontent #wpbody #wpbody-content .store-addons-for-woocommerce-settings-wrapper h5,
.store-addons-for-woocommerce-settings-template #wpcontent #wpbody #wpbody-content .store-addons-for-woocommerce-settings-wrapper .h5 {
  font-size: 14px;
  line-height: 15px;
}
.store-addons-for-woocommerce-settings-template #wpcontent #wpbody #wpbody-content .store-addons-for-woocommerce-settings-wrapper h6,
.store-addons-for-woocommerce-settings-template #wpcontent #wpbody #wpbody-content .store-addons-for-woocommerce-settings-wrapper .h6 {
  font-size: 12px;
  line-height: 13px;
}
.store-addons-for-woocommerce-settings-template #wpcontent #wpbody #wpbody-content .store-addons-for-woocommerce-settings-wrapper p,
.store-addons-for-woocommerce-settings-template #wpcontent #wpbody #wpbody-content .store-addons-for-woocommerce-settings-wrapper .p {
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  margin-bottom: 10px;
}
.store-addons-for-woocommerce-settings-template #wpcontent #wpbody #wpbody-content .store-addons-for-woocommerce-settings-wrapper input[type=color].form-control,
.store-addons-for-woocommerce-settings-template #wpcontent #wpbody #wpbody-content .store-addons-for-woocommerce-settings-wrapper input[type=date].form-control,
.store-addons-for-woocommerce-settings-template #wpcontent #wpbody #wpbody-content .store-addons-for-woocommerce-settings-wrapper input[type=datetime-local].form-control,
.store-addons-for-woocommerce-settings-template #wpcontent #wpbody #wpbody-content .store-addons-for-woocommerce-settings-wrapper input[type=datetime].form-control,
.store-addons-for-woocommerce-settings-template #wpcontent #wpbody #wpbody-content .store-addons-for-woocommerce-settings-wrapper input[type=email].form-control,
.store-addons-for-woocommerce-settings-template #wpcontent #wpbody #wpbody-content .store-addons-for-woocommerce-settings-wrapper input[type=month].form-control,
.store-addons-for-woocommerce-settings-template #wpcontent #wpbody #wpbody-content .store-addons-for-woocommerce-settings-wrapper input[type=number].form-control,
.store-addons-for-woocommerce-settings-template #wpcontent #wpbody #wpbody-content .store-addons-for-woocommerce-settings-wrapper input[type=password].form-control,
.store-addons-for-woocommerce-settings-template #wpcontent #wpbody #wpbody-content .store-addons-for-woocommerce-settings-wrapper input[type=search].form-control,
.store-addons-for-woocommerce-settings-template #wpcontent #wpbody #wpbody-content .store-addons-for-woocommerce-settings-wrapper input[type=tel].form-control,
.store-addons-for-woocommerce-settings-template #wpcontent #wpbody #wpbody-content .store-addons-for-woocommerce-settings-wrapper input[type=text].form-control,
.store-addons-for-woocommerce-settings-template #wpcontent #wpbody #wpbody-content .store-addons-for-woocommerce-settings-wrapper input[type=time].form-control,
.store-addons-for-woocommerce-settings-template #wpcontent #wpbody #wpbody-content .store-addons-for-woocommerce-settings-wrapper input[type=url].form-control,
.store-addons-for-woocommerce-settings-template #wpcontent #wpbody #wpbody-content .store-addons-for-woocommerce-settings-wrapper input[type=week].form-control,
.store-addons-for-woocommerce-settings-template #wpcontent #wpbody #wpbody-content .store-addons-for-woocommerce-settings-wrapper select.form-control,
.store-addons-for-woocommerce-settings-template #wpcontent #wpbody #wpbody-content .store-addons-for-woocommerce-settings-wrapper select.form-select,
.store-addons-for-woocommerce-settings-template #wpcontent #wpbody #wpbody-content .store-addons-for-woocommerce-settings-wrapper textarea.form-control {
  border: 1px solid #dee2e6;
}
.store-addons-for-woocommerce-settings-template #wpcontent #wpbody #wpbody-content .store-addons-for-woocommerce-settings-wrapper input[type=color].form-control {
  padding: 2px;
  width: 27px;
}
.store-addons-for-woocommerce-settings-template #wpcontent #wpbody #wpbody-content .store-addons-for-woocommerce-settings-wrapper .store-addons-for-woocommerce-settings-container .top-bar {
  background-color: #343a40;
}
.store-addons-for-woocommerce-settings-template #wpcontent #wpbody #wpbody-content .store-addons-for-woocommerce-settings-wrapper .store-addons-for-woocommerce-settings-container nav.navbar {
  top: 32px;
}
@media screen and (max-width: 600px) {
  .store-addons-for-woocommerce-settings-template #wpcontent #wpbody #wpbody-content .store-addons-for-woocommerce-settings-wrapper .store-addons-for-woocommerce-settings-container nav.navbar {
    top: 0;
  }
}
.store-addons-for-woocommerce-settings-template #wpcontent #wpbody #wpbody-content .store-addons-for-woocommerce-settings-wrapper .store-addons-for-woocommerce-settings-container nav.navbar .navbar-nav .nav-link {
  outline: none;
  box-shadow: none;
  position: relative;
  height: 42px;
}
.store-addons-for-woocommerce-settings-template #wpcontent #wpbody #wpbody-content .store-addons-for-woocommerce-settings-wrapper .store-addons-for-woocommerce-settings-container nav.navbar .navbar-nav .nav-link:focus, .store-addons-for-woocommerce-settings-template #wpcontent #wpbody #wpbody-content .store-addons-for-woocommerce-settings-wrapper .store-addons-for-woocommerce-settings-container nav.navbar .navbar-nav .nav-link:active, .store-addons-for-woocommerce-settings-template #wpcontent #wpbody #wpbody-content .store-addons-for-woocommerce-settings-wrapper .store-addons-for-woocommerce-settings-container nav.navbar .navbar-nav .nav-link:focus-visible {
  outline: none;
  box-shadow: none;
}
@media screen and (min-width: 992px) {
  .store-addons-for-woocommerce-settings-template #wpcontent #wpbody #wpbody-content .store-addons-for-woocommerce-settings-wrapper .store-addons-for-woocommerce-settings-container nav.navbar .navbar-nav .nav-link.active::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: var(--bs-navbar-nav-link-padding-x);
    right: var(--bs-navbar-nav-link-padding-x);
    height: 4px;
    background-color: #000000;
  }
}
.store-addons-for-woocommerce-settings-template #wpcontent #wpbody #wpbody-content .store-addons-for-woocommerce-settings-wrapper .store-addons-for-woocommerce-settings-container nav.navbar .navbar-brand img {
  width: 40px;
  height: auto;
}
.store-addons-for-woocommerce-settings-template #wpcontent #wpbody #wpbody-content .store-addons-for-woocommerce-settings-wrapper .store-addons-for-woocommerce-settings-container nav.navbar .navbar-brand span {
  font-weight: 700;
}
.store-addons-for-woocommerce-settings-template #wpcontent #wpbody #wpbody-content .store-addons-for-woocommerce-settings-wrapper .store-addons-for-woocommerce-settings-container nav.navbar .nav-item {
  margin-bottom: 0;
}
.store-addons-for-woocommerce-settings-template #wpcontent #wpbody #wpbody-content .store-addons-for-woocommerce-settings-wrapper .store-addons-for-woocommerce-settings-container .list-group .list-group-item {
  margin-bottom: 0;
}
.store-addons-for-woocommerce-settings-template #wpcontent #wpbody #wpbody-content .store-addons-for-woocommerce-settings-wrapper .store-addons-for-woocommerce-settings-container .store-addons-for-woocommerce-settings {
  padding: 30px;
}
.store-addons-for-woocommerce-settings-template #wpcontent #wpbody #wpbody-content .store-addons-for-woocommerce-settings-wrapper .store-addons-for-woocommerce-settings-container .store-addons-for-woocommerce-settings .card {
  margin-top: 0;
  padding: 0;
  max-width: unset;
}
.store-addons-for-woocommerce-settings-template #wpcontent #wpbody #wpbody-content .store-addons-for-woocommerce-settings-wrapper .store-addons-for-woocommerce-settings-container .store-addons-for-woocommerce-settings .sidebar .list-group-item {
  border-style: none;
}
.store-addons-for-woocommerce-settings-template #wpcontent #wpbody #wpbody-content .store-addons-for-woocommerce-settings-wrapper .store-addons-for-woocommerce-settings-container .store-addons-for-woocommerce-settings .sidebar .list-group-item:focus, .store-addons-for-woocommerce-settings-template #wpcontent #wpbody #wpbody-content .store-addons-for-woocommerce-settings-wrapper .store-addons-for-woocommerce-settings-container .store-addons-for-woocommerce-settings .sidebar .list-group-item:hover {
  background-color: transparent;
}
.store-addons-for-woocommerce-settings-template #wpcontent #wpbody #wpbody-content .store-addons-for-woocommerce-settings-wrapper .store-addons-for-woocommerce-settings-container .store-addons-for-woocommerce-settings .sidebar .submenu {
  margin-left: 16px;
}
.store-addons-for-woocommerce-settings-template #wpcontent #wpbody #wpbody-content .store-addons-for-woocommerce-settings-wrapper .store-addons-for-woocommerce-settings-container .store-addons-for-woocommerce-settings .sidebar .submenu .list-group-item {
  border-left: 2px solid #eaeaea;
}
.loading-skeleton {
  background: linear-gradient(45deg, #e0e0e0 25%, #f8f8f8 50%, #e0e0e0 75%);
  background-size: 200% 100%;
  animation: shimmer 3s infinite;
}
.loading-skeleton.h1, .loading-skeleton.h2, .loading-skeleton.h3, .loading-skeleton.h4, .loading-skeleton.h5, .loading-skeleton.h6 {
  margin-bottom: 10px;
}
.loading-skeleton.h1 {
  height: 40px;
}
.loading-skeleton.h2 {
  height: 33px;
}
.loading-skeleton.h3 {
  height: 26px;
}
.loading-skeleton.h4 {
  height: 19px;
}
.loading-skeleton.h5 {
  height: 15px;
}
.loading-skeleton.h6 {
  height: 13px;
}
.loading-skeleton.p {
  height: 20px;
  margin-bottom: 10px;
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}/*# sourceMappingURL=admin-style.css.map */